@import url('https://at.alicdn.com/t/c/font_3716177_mziqzq8a5ud.css?spm=a313x.7781069.1998910419.84&file=font_3716177_mziqzq8a5ud.css');
body,html{
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}